/*
* @Author: inksmallfrog
* @Date:   2017-05-12 14:48:33
* @Last Modified by:   inksmallfrog
* @Last Modified time: 2017-05-12 16:36:17
*/
:root{
  --borderColor: #999;
  --descColor: #666;

  --transitionTime: .5s;
}
