
@font-face {font-family: "iconfont";
  src: url('iconfont.eot?t=1494231534649'); /* IE9*/
  src: url('iconfont.eot?t=1494231534649#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('iconfont.woff?t=1494231534649') format('woff'), /* chrome, firefox */
  url('iconfont.ttf?t=1494231534649') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('iconfont.svg?t=1494231534649#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-ok:before { content: "\f0156"; }

.icon-more:before { content: "\f0013"; }

.icon-error:before { content: "\f0003"; }

.icon-email:before { content: "\e63c"; }

.icon-passage:before { content: "\e633"; }

.icon-todo:before { content: "\e65d"; }

.icon-viewable:before { content: "\e6ba"; }

.icon-unviewable:before { content: "\e616"; }

.icon-picture:before { content: "\e64e"; }

.icon-save:before { content: "\e66a"; }

.icon-submit:before { content: "\e6db"; }

.icon-newPassage:before { content: "\e615"; }

.icon-edit:before { content: "\e69a"; }

.icon-delete:before { content: "\3474"; }

.icon-send:before { content: "\e60d"; }

.icon-exit:before { content: "\e62c"; }
